<li class="box-grid__item">
    <article class="box">
        <div class="person">
            <div class="person__photo">
                {% if isLazy %}
                    <img class="js-lazy-loading"
                         src="{{ asset('build/images/empty.gif') }}"
                         data-src="{{ avatar }}"
                         alt="{{ name }}">
                {% else %}
                    <img src="{{ avatar }}" alt="{{ name }}">
                {% endif %}
            </div>
            <div class="person__info">
                <h2 class="person__header">{{ name }}</h2>
                <span class="person__title">{{ title }}</span>
                {% if url is defined %}
                    <a href="{{ url }}" class="person__link">
                        {% if urlLabel is defined %}
                            {{ urlLabel }}
                        {% else %}
                            {{ url }}
                        {% endif %}
                    </a>
                {% endif %}
            </div>
        </div>
    </article>
</li>