{% extends 'admin/base.html.twig' %}

{% set name = (entity.nameEN is defined) ? entity.nameEN : entity.title %}

{% block title %}
    Edit: {{ name }}
{% endblock %}

{% block main %}
    <div class="row justify-content-center pt-3 mb-2">
        <div class="col-12 col-md-8 col-lg-6">
            <h1>Edit: {{ name }}</h1>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-6">
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    {% include('admin/includes/alert.html.twig') with {
                        'message': message,
                        'label': label,
                        'classNames': 'mb-3'
                    } %}
                {% endfor %}
            {% endfor %}

            {{ form_start(form) }}
                {{ form_widget(form) }}

                {% if form.vars.data.pictureUrl is defined and form.vars.data.pictureUrl %}
                    <div class="form-group">
                        <label>
                            Current Image:
                        </label>
                        <img src="{{ form.vars.data.pictureUrl }}" alt="" class="d-block">
                    </div>

                {% endif %}
            {{ form_end(form) }}

        </div>
    </div>
{% endblock %}