{% extends 'admin/base.html.twig' %}

{% set entityName = app.request.get('entityName') %}

{% block title %}
    {{ entityDisplayName|capitalize }}
{% endblock %}

{% block javascript_config %}
    <script>
        var _config = window._config || {};

        _config["deleteEntityConfirmMessage"] = "Are you sure you want to delete";
        _config["loginUri"] = "{{ path("admin_security_login") }}";

        Object.freeze(_config);
    </script>
{% endblock %}

{% block main %}
    <div class="row justify-content-center pt-3 mb-2">
        <div class="col-12 col-md-12 col-lg-10">
            <h1>{{ entityDisplayName|capitalize }} list</h1>
        </div>
    </div>

    {% if(items|length > 0) %}
    <div class="row justify-content-center">
        <div class="col-12 col-md-12 col-lg-10 mb-4 d-flex justify-content-end">
            <a href="{{ path('admin_entity_add', {'entityName': entityName})  }}" class="btn btn-outline-primary btn-sm btn-icon-left">
                <i class="icon">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm5 11h-4v4h-2v-4H7v-2h4V7h2v4h4v2z"/></svg>
                </i>
                Add new
            </a>
        </div>
    </div>
    {% endif %}

    <div class="row justify-content-center">
        <div class="col-12 col-md-12 col-lg-10">
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    {% include('admin/includes/alert.html.twig') with {
                        'message': message,
                        'label': label,
                        'classNames': 'mb-3'
                    } %}
                {% endfor %}
            {% endfor %}

            {% if(items|length == 0) %}
                {% set addNewPath = path('admin_entity_add', {'entityName': entityName}) %}
                {% include('admin/includes/alert.html.twig') with {
                    'message': "No #{entityDisplayName} has been added yet. <a href=\"#{addNewPath}\">Create one!</a>",
                    'label': 'primary',
                    'classNames': 'mb-3'
                } %}
            {% else %}
                <ol class="entity-list list-unstyled">
                    {% for item in items %}
                    {% set name = item.nameEN is defined ? item.nameEN : item.title %}
                    <li id="js-row-{{ item.id }}" class="entity-list__item d-md-flex">
                        <h5 class="entity-list__item-header mb-md-0 text-center text-md-left">
                            <a href="{{ path('admin_entity_edit', {'entityName': entityName, 'id': item.id}) }}">
                                {{ name }}
                            </a>
                        </h5>
                        <div class="entity-list__item-controls d-flex justify-content-center">
                            <div class="col-auto">
                                <a href="{{ path('admin_entity_edit', {'entityName': entityName, 'id': item.id}) }}"
                                   class="btn btn-outline-primary btn-sm btn-icon-left">
                                    <i class="icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM20.71 7.04c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.39-.39-1.02-.39-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83z"/><path d="M0 0h24v24H0z" fill="none"/></svg>
                                    </i>
                                    Edit
                                </a>
                            </div>
                            <div class="col-auto pr-md-0">
                                <button type="button"
                                        data-id="{{ item.id }}"
                                        data-url="{{ path('admin_entity_archive', {'entityName': entityName}) }}"
                                        data-name="{{ name }}"
                                        class="btn btn-outline-danger btn-sm btn-icon-left js-delete-entity-button">
                                    <i class="icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zM19 4h-3.5l-1-1h-5l-1 1H5v2h14V4z"/><path d="M0 0h24v24H0z" fill="none"/></svg>
                                    </i>
                                    Delete
                                </button>
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                </ol>
            {% endif %}
        </div>
    </div>
{% endblock %}