<nav class="navigation">
    <a href="{{ path('screenings') }}"
       class="navigation__item{{ app.request.get('_route') == 'screenings' ? ' active' }}">
        <span>{{ 'navigation.watch'|trans }}</span>
    </a>
    <a href="{{ path('protagonists') }}"
       class="navigation__item{{ app.request.get('_route') == 'protagonists' ? ' active' }}">
        <span>{{ 'navigation.protagonists'|trans }}</span>
    </a>
    <a href="{{ path('the_crew') }}"
       class="navigation__item{{ app.request.get('_route') == 'the_crew' ? ' active' }}">
        <span>{{ 'navigation.crew'|trans }}</span>
    </a>
    <a href="{{ path('partners') }}"
       class="navigation__item{{ app.request.get('_route') == 'partners' ? ' active' }}">
        <span>{{ 'navigation.partners'|trans }}</span>
    </a>
</nav>