<section class="story vision-offset-desktop">
    {% include('/components/section-header/section-header.html.twig') with {'text': 'vision.title', 'classes': 'story__header'} only %}

    <article class="box box--center vision">
        <h3 class="sub-header vision__header">
            {{ 'vision.subheader'|trans }}
        </h3>
        <div class="copy vision__intro">
            <div>
                <h4 class="box__subtitle mb-2">
                    {{ 'vision.intro.bold'|trans }}
                </h4>
                <p>
                    {{ 'vision.intro'|trans }}
                </p>
            </div>
        </div>
        <figure class="vision__graphic">
            <picture>
                <source srcset="{{ asset('build/images/empty.gif') }}"
                        class="js-lazy-loading"
                        data-srcset="{{ asset('build/images/the-vision-info-graphic-placeholder-desktop.png') }}"
                        media="(min-width: 768px)">
                <img src="{{ asset('build/images/empty.gif') }}"
                     class="js-lazy-loading"
                     data-src="{{ asset('build/images/the-vision-info-graphic-placeholder-mobile.png') }}"
                     alt="">
            </picture>
        </figure>
        <h3 class="sub-header vision__header">
            {{ 'protection.mechanisms'|trans }}
        </h3>
        <div class="vision__case">
            <div class="video">
                {% include('/components/youtube-embed/youtube-embed.html.twig') with {'video': thf} %}
            </div>
            <h4 class="box__subtitle">
                {{ 'thf.case.title'|trans }}
            </h4>
        </div>
        <div class="vision__case">
            <div class="video">
                {% include('/components/youtube-embed/youtube-embed.html.twig') with {'video': lifeInTheJungle} %}
            </div>
            <h4 class="box__subtitle">
                Humans as Stewards of Nature and not a Disaster to it
            </h4>
        </div>
    </article>
</section>