<section class="story vision-offset-desktop">
    {% include('./components/section-header.html.twig') with {'text': 'vision.title', 'classes': 'story__header'} only %}

    <article class="box box--center vision">
        <h3 class="sub-header vision__header">
            {{ 'vision.subheader'|trans }}
        </h3>
        <div class="copy vision__intro">
            <div>
                <h4 class="box__subtitle mb-2">
                    {{ 'vision.intro.bold'|trans }}
                </h4>
                <p>
                    {{ 'vision.intro'|trans }}
                </p>
            </div>
        </div>
        <figure class="vision__graphic">
            <picture>
                <source srcset="{{ asset('build/images/the-vision-info-graphic-placeholder-desktop.png') }}" media="(min-width: 768px)">
                <img src="{{ asset('build/images/the-vision-info-graphic-placeholder-mobile.png') }}" alt="">
            </picture>
        </figure>
        <h3 class="sub-header vision__header">
            {{ 'protection.mechanisms'|trans }}
        </h3>
        <div class="vision__case">
            <div class="video">
                {% include('./components/youtube-embed.html.twig') with {
                    'id': thf.id,
                    'thumbnails': thf.thumbnails,
                    'title': thf.title,
                    'titleBg': thf.titleBg
                } %}
            </div>
            <h4 class="box__subtitle">
                {{ 'thf.case.title'|trans }}
            </h4>
        </div>
        <div class="vision__case">
            <div class="video">
                {% include('./components/youtube-embed.html.twig') with {
                    'id': lifeInTheJungle.id,
                    'thumbnails': lifeInTheJungle.thumbnails,
                    'title': lifeInTheJungle.title,
                    'titleBg': lifeInTheJungle.titleBg
                } %}
            </div>
            <h4 class="box__subtitle">
                Humans as Stewards of Nature and not a Disaster to it
            </h4>
        </div>
    </article>
</section>