<article class="timeline" id="js-timeline">
    <button type="button" class="timeline__mover timeline__mover--back js-timeline-back hide-mover" aria-hidden="true">
        {{ 'timeline.back'|trans }}
    </button>
    <ol class="timeline__steps js-timeline-steps">
        <li class="timeline__step">
            <div class="box timeline__box">
                {% include('./home/partials/timeline/marker.html.twig') with { labelText: 'timeline.1.time' } %}
                {% include('./components/sub-header.html.twig') with {'text': 'timeline.1.title', 'classes': 'timeline__header', 'priority': 2} only %}
                <div class="timeline__illustration"></div>
                <p class="timeline__text">
                    {{ 'timeline.1.text'|trans }}
                </p>
            </div>
        </li>
        <li class="timeline__step">
            <div class="box timeline__box">
                {% include('./home/partials/timeline/marker.html.twig') with { labelText: 'timeline.2.time' } %}
                {% include('./components/sub-header.html.twig') with {'text': 'timeline.2.title', 'classes': 'timeline__header', 'priority': 2} only %}
                <div class="timeline__illustration"></div>
                <p class="timeline__text">
                    {{ 'timeline.2.text'|trans }}
                </p>
            </div>
        </li>
        <li class="timeline__step">
            <div class="box timeline__box">
                {% include('./home/partials/timeline/marker.html.twig') with { labelText: 'timeline.3.time' } %}
                {% include('./components/sub-header.html.twig') with {'text': 'timeline.3.title', 'classes': 'timeline__header', 'priority': 2} only %}
                <div class="timeline__illustration"></div>
                <p class="timeline__text">
                    {{ 'timeline.3.text'|trans }}
                </p>
            </div>
        </li>
        <li class="timeline__step">
            <div class="box timeline__box">
                {% include('./home/partials/timeline/marker.html.twig') with { labelText: 'timeline.4.time' } %}
                {% include('./components/sub-header.html.twig') with {'text': 'timeline.4.title', 'classes': 'timeline__header', 'priority': 2} only %}
                <div class="timeline__illustration"></div>
                <p class="timeline__text">
                    {{ 'timeline.4.text'|trans }}
                </p>
            </div>
        </li>
        <li class="timeline__step">
            <div class="box timeline__box">
                {% include('./home/partials/timeline/marker.html.twig') with { labelText: 'timeline.5.time' } %}
                {% include('./components/sub-header.html.twig') with {'text': 'timeline.5.title', 'classes': 'timeline__header', 'priority': 2} only %}
                <div class="timeline__illustration"></div>
                <p class="timeline__text">
                    {{ 'timeline.5.text'|trans }}
                </p>
            </div>
        </li>
        <li class="timeline__step">
            <div class="box timeline__box">
                {% include('./home/partials/timeline/marker.html.twig') with { labelText: 'timeline.6.time' } %}
                {% include('./components/sub-header.html.twig') with {'text': 'timeline.6.title', 'classes': 'timeline__header', 'priority': 2} only %}
                <div class="timeline__illustration"></div>
                <p class="timeline__text">
                    {{ 'timeline.6.text'|trans }}
                </p>
            </div>
        </li>
    </ol>
    <button type="button" class="timeline__mover timeline__mover--forward js-timeline-forward">
        {{ 'timeline.forward'|trans }}
    </button>
</article>