{% extends 'base.html.twig' %}

{% block title %}{{ 'screenings.cta'|trans }} - {{ 'site.name'|trans }} {% endblock %}

{% block description %}
    {% include('/includes/meta-description.html.twig') with {
        'description': 'screenings'|trans({}, 'meta-descriptions')|raw|trim
    } only %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {% for css in encore_entry_css_files('critical-path-subpages') %}
        <style>
            {{ get_asset_content(css)|raw }}
        </style>
    {% endfor %}

    {% for css in encore_entry_css_files('screenings') %}
        {% include('includes/async-css.html.twig') with {
            style_path: asset(css)
        } %}
    {% endfor %}
{% endblock %}

{% block main %}
    <article class="box box--center-narrow box--tablet-big-gutter no-hero section-v-gutter">
        {% include('/components/sub-header/sub-header.html.twig') with {
            'text': 'screenings.cta'|trans,
            'priority': 1,
            'classes': 'box__header'
        } only %}

        <div class="main-copy">
            {{ 'screenings.intro'|trans({
                '%list_anchor%': '#screening-list',
                '%subscribe_link%': 'http://eepurl.com/g0nQYX',
                '%contact_link%': path('contact')
            }, 'content')|raw }}
        </div>
    </article>

    {{ render_esi(controller('App\\Controller\\ScreeningsController::getScreenings')) }}
{% endblock %}