<section class="story vision-offset-desktop">
    {% include('/components/section-header/section-header.html.twig') with {
        'text': 'vision.title'|trans,
        'classes': 'story__header'
    } only %}

    <article class="box box--center vision">
        <h3 class="sub-header vision__header">
            {{ 'vision.subheader'|trans }}
        </h3>
        <div class="vision__intro">
            <div class="main-copy">
                <p>
                    {{ 'vision.intro'|trans|raw }}
                </p>
            </div>
        </div>
        <figure class="vision__graphic">
            {% include('/home/partials/vision/virtous-circle/virtous-circle.html.twig') %}
        </figure>
        <h3 class="sub-header vision__header">
            {{ 'protection.mechanisms'|trans }}
        </h3>
        <div class="vision__case">
            <div class="video">
                {% include('/components/youtube-embed/youtube-embed.html.twig') with {'video': thf} %}
            </div>
            <h4 class="box__subtitle">
                {{ 'thf.case.title'|trans }}
            </h4>
        </div>
        <div class="vision__case">
            <div class="video">
                {% include('/components/youtube-embed/youtube-embed.html.twig') with {'video': lifeInTheJungle} %}
            </div>
            <h4 class="box__subtitle">
                {{ 'kalu-yala.case.title'|trans }}
            </h4>
        </div>
    </article>
</section>