<li class="news__item">
    <a href="{{ link }}" class="box" target="_blank" rel="noreferrer noopener">
        {% if image %}
            <figure class="box__image-container">
                <div class="embed-16-9">
                    <img src="{{ asset('build/images/empty.gif') }}"
                         data-src="{{ image }}"
                         alt="{{ title }} - {{ source }}"
                         class="box__image js-lazy-loading" />
                </div>
            </figure>
        {% endif %}
        <h3 class="box__subtitle">
            {{ title }}
        </h3>
        <p class="news-source">
            <small class="box__info">
                {{ source }}
            </small>
        </p>
    </a>
</li>