{% extends 'base.html.twig' %}

{% set heroTitle = {'mainTitle': 'footer.contact'} %}
{% set heroContent = include('/includes/hero/title-and-subtitle.html.twig', heroTitle) %}

{% block title %}{{ 'footer.contact'|trans }} - {{ 'site.name'|trans }}{% endblock %}

{% block description %}
    {% include('/includes/meta-description.html.twig') with {
        'description': 'contact'|trans({}, 'meta-descriptions')|raw|trim
    } only %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {% for css in encore_entry_css_files('critical-path-subpages') %}
        <style>
            {{ get_asset_content(css)|raw }}
        </style>
    {% endfor %}

    {% include('/includes/hero/background-style.html.twig') with {'background': 'contact'} only %}
{% endblock %}

{% block main %}
    {% include('/includes/hero.html.twig') with {'content': heroContent} only %}
    <article class="box box--center-narrow box--tablet-big-gutter pull-over-hero">
        <div class="main-copy">
            {{ 'contact.text'|trans({}, 'content')|raw }}
        </div>
    </article>
{% endblock %}