{% extends 'base.html.twig' %}

{% block title %}
    {{ status_code }}
{% endblock %}

{% block main %}
    <article class="box box--center-narrow box--tablet-big-gutter no-hero">
        <h1 class="section-header box__header">
            {{ 'error.generic'|trans }}
        </h1>
        <p class="box__lead text-center">{{ 'error.genric.text'|trans }}</p>

        <p class="box__lead text-center">
            <a href="{{ path('home') }}" class="button">{{ 'error.homepage.link'|trans }}</a>
        </p>
    </article>
{% endblock %}