<!doctype html>
{% apply spaceless %}
<html lang="{{ app.request.get('_locale') }}" dir="ltr">
    <head data-test="test">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% include '/meta/canonical.html.twig' %}
        <title>{% block title %}{{ 'site.name'|trans }}{% endblock %}</title>

        {% block description %}
        {% endblock %}

        {% if(app.request.get('_locale') == 'bg') %}
            <meta property="og:image" content="{{ absolute_url(asset('build/images/social-media-share-image-1200x630-bg.jpg')) }}" />
            <link rel="image_src" href="{{ absolute_url(asset('build/images/social-media-share-image-1200x630-bg.jpg')) }}" />
        {% else %}
            <meta property="og:image" content="{{ absolute_url(asset('build/images/social-media-share-image-1200x630-en.jpg')) }}" />
            <link rel="image_src" href="{{ absolute_url(asset('build/images/social-media-share-image-1200x630-en.jpg')) }}" />
        {% endif %}
        <meta property="og:image:width" content="1200" />
        <meta property="og:image:height" content="630" />

        {% block preconectLinks %}
            {% include('/meta/preconnect-prefetch-links.html.twig')
                with {'domain': 'https://polyfill.io/'} only %}
        {% endblock %}

        {% include '/meta/site-icons.html.twig' %}

        {% block stylesheets %}
            {% for css in encore_entry_css_files('critical-path') %}
                <style>
                    {{ get_asset_content(css)|raw }}
                </style>
            {% endfor %}

            {% for css in encore_entry_css_files('app') %}
                {% include('meta/async-css.html.twig') with {
                    style_path: asset(css)
                } %}
            {% endfor %}
        {% endblock %}

        {# Pollyfill.io creates a custom bundle for browsers that needed based on server-side UA detection #}
        <script defer
                src="https://polyfill.io/v3/polyfill.min.js?features=Array.prototype.forEach%2CArray.prototype.indexOf%2CDOMRect%2CCustomEvent%2CHTMLPictureElement%2CIntersectionObserver%2CIntersectionObserverEntry%2CFunction.prototype.bind%2Cdocument.querySelector%2CElement.prototype.classList%2CObject.keys%2CPromise%2Cfetch%2Chtml5shiv%2Cconsole.warn%2CinnerWidth%2CinnerHeight%2CmatchMedia%2CgetComputedStyle%2CpageXOffset%2CpageYOffset%2CObject.assign%2CObject.freeze%2CJSON%2CURL%2CURLSearchParams"></script>

        {% block javascript_config %}
        {% endblock %}

        <script>
            var _translations = window._translations || {};

            _translations["cookieConsent"] = {};
            _translations["cookieConsent"]["lead"] = '{{ 'cookie.consent.lead'|trans|spaceless }}';
            _translations["cookieConsent"]["tier1"] = '{{ 'cookie.consent.tier.1'|trans|spaceless }}';
            _translations["cookieConsent"]["tier2"] = '{{ 'cookie.consent.tier.2'|trans|spaceless }}';
            _translations["cookieConsent"]["save"] = '{{ 'cookie.consent.save'|trans|spaceless }}';

            if(Object.freeze) {
                Object.freeze(_translations);
            }
        </script>

        {% block javascripts %}
            {% for js in encore_entry_js_files('app') %}
                <script src="{{ asset(js) }}" defer></script>
            {% endfor %}
        {% endblock %}

    </head>
    <body class="header-offset">
        {% include '/components/header/header.html.twig' %}
        <main class="main">
            {% block main %}{% endblock %}
        </main>
        {% include '/components/footer/footer.html.twig' %}
    </body>
</html>
{% endapply %}
